<!DOCTYPE html>
<html lang="fr">
<head>
  <title>{% block title %}parent{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ asset('CSS/styles.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#"><img src="{{ asset('Images/logoLaGarderieTiny.png') }}" alt="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      {% if is_granted('ROLE_USER') %}
      <li class="nav-item">
        <a class="nav-link" href="{{ path('homepage') }}">Accueil</a>
      </li>
      {% if is_granted('ROLE_ADMIN') %}
      <li class="nav-item">
        <a class="nav-link" href="{{ path('manageCity_createCity') }}">Ville</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sites</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('admin_listUser') }}">Participants</a>
      </li>
      {% endif %}
         <li class="nav-item">
        <a class="nav-link" href="{{ path('detail') }}">Mon Profil</a>
         <li class="nav-item">
        <a class="nav-link" href="{{ path('logout') }}">Se déconnecter</a>
      </li>
      {% endif %}
    </ul>
  </div>  
</nav>

<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>{% block pagetitle %}parent{% endblock %}</h1>
</div>
{% for label, messages in app.flashes %}
  {% for message in messages %}
    <div class="alert alert-{{ label }}">
      {{ message }}
    </div>
  {% endfor %}
{% endfor %}
<div>
  {% block body %}
    <p>dossier body parent</p>
  {% endblock %}
</div>



<div class="jumbotron text-center" style="margin-bottom:0">
  <p>Eni-Ecole Informatique</p>
    <p>Quelque part à Saint Herblain</p>
</div>

</body>
<script src="{{ asset('js/ajax.js') }}"></script>
</html>