{% extends 'base.html.twig' %}

{% block title %}Création{% endblock %}
{% block pagetitle %}Création d'une sortie{% endblock %}

{% block body %}

    {# Messages Flash #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {# Theme du formulaire #}
    {% form_theme formCreateEvent 'bootstrap_4_layout.html.twig' %}

    <div class="container">
        <br>
        {# VOLET 1#}
        <div class="#">
            {{ form_start(formCreateEvent) }}

            {# Champs principaux #}
            {{ form_row(formCreateEvent.nom) }}
            {{ form_row(formCreateEvent.dateDebut) }}
            {{ form_row(formCreateEvent.dateCloture) }}
            {{ form_row(formCreateEvent.nbInscriptionsMax) }}
            {{ form_row(formCreateEvent.duree) }}
            {{ form_row(formCreateEvent.description) }}
        </div>

        {# VOLET 2#}
        <div class="#">
            {# Bloc pour la gestion du site du User #}
            {% if(app.user.site is empty) %}
                <p>Ville organisatrice : Aucun</p>
            {% else %}
                <p>Ville organisatrice : {{ app.user.site.nom }}</p>
            {% endif %}

            {# Select de la ville #}
            <div class="form-group">
                <label>Ville :
                    <select class="form-control" name="ville">
                        {% for ville in villes %}
                            <option value="{{ ville.nom }}">{{ ville.nom }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>

            <div class="form-group">
                <div class="addSpot">
                    {{ form_row(formCreateEvent.lieu) }}
                </div>
                {#<div class="addSpot">#}
                {#<button onclick="document.getElementById('mod01').style.display='block'"#}
                {#class="btn btn-success btn-circle">+</button>#}
                {#</div>#}
            </div>

            {#Select de la rue #}
            <div class="form-group">
                <label>Rue :
                    <select class="form-control" name="rue">
                        {% for lieu in lieux %}
                            <option value="{{ lieu.rue }}">{{ lieu.rue }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>

            {# Code postal #}
            <div class="form-group">
                <p>Code postal : </p>
            </div>

            <div id="macarte" style="width:545px; height:490px"></div>
        </div>

        {# Boutons Enregistrer + Publier + Annuler #}
        <span>
            <div class="row">
                    <div class="col-md-4" id="buttons">
                        {{ form_row(formCreateEvent.Enregistrer) }}
                    </div>
                    <div class="col-md-4" id="buttons">
                        {{ form_row(formCreateEvent.Publier) }}
                    </div>
                    <div class="col-md-4" id="buttons">
                        {{ form_row(formCreateEvent.Annuler) }}
                    </div>
            </div>
        </span>
        {{ form_end(formCreateEvent) }}
    </div>

    <!-- MODALE -->

    {#<div id="mod01" class="w3-modal">#}
    {#<div class="w3-modal-content w3-animate-top w3-panel w3-border w3-round-large">#}
    {#<div class="w3-container">#}
    {#<span onclick="document.getElementById('mod01').style.display='none'"#}
    {#class="w3-button w3-display-topright" id="closeX">X</span>#}
    {#<div>#}
    {#<h3>Ajouter un lieu</h3>#}
    {#<hr>#}
    {#</div>#}
    {##}
    {#<div class="form-group">#}
    {#<label for="lieuModal">Lieu :</label>#}
    {#<input name="lieu" id="lieuModal"/>#}
    {#</div>#}
    {##}
    {#<div class="form-group">#}
    {#<label for="rueModal">Rue :</label>#}
    {#<input name="rue" id="rueModal"/>#}
    {#</div>#}
    {##}
    {#<div class="w3-container w3-center w3-padding">#}
    {#<div class="submitModal w3-padding">#}
    {#<button class="btn btn-danger" onclick="document.getElementById('mod01').style.display='none'"#}
    {#>Annuler</button>#}
    {#</div>#}
    {#<div class="submitModal w3-padding">#}
    {#<button class="btn btn-info" onclick="document.getElementById('mod01').style.display='none'"#}
    {#>Valider</button>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}

{% endblock %}