{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block pagetitle %}Accueil{% endblock %}

{% block body %}
    <a href="{{ path('event_createEvent') }}">créer evenement</a>
    {{ form_start(form) }}
    <div>
        <script>
           user = {
               id: {{ app.user.id }},
               username: '{{ app.user.username }}'
           };


        </script>

        <p>{{ form_row(form.organisateur, {"label": "es tu l'organisateur", 'id': "orga1", "value": 35}) }}</p>
        <p>{{ form_row(form.sites, {"label": "Site concerné", 'id': "choixSite", 'attr': {'onchange': "selectionSite();"}}) }}</p>
    </div>


    {{ form_end(form) }}
    {#
    <input id="myInput" type="text" placeholder="Search..">
    <select name="select_sites" id="select_sites">
        <option value="sitenone">pas de site</option>
        {% for site in sites %}
        <option value="{{ site.id }}">{{ site.nom }}</option>
        {% endfor %}#}
    </select>
    <table class="table table-hover">

    <tr>
        <th scope="col">Nom</th>
        <th scope="col">Date de la sortie</th>
        <th scope="col">Date de Cloture</th>
        <th scope="col">Inscrits/Places</th>
        <th scope="col">Etat</th>
        <th scope="col">Inscrit</th>
        <th scope="col">Organisateur</th>
        <th scope="col">Actions</th>
    </tr>
        <tbody id="myTable">
    {% for sortie in sorties %}
        {% set isInscrit = 0 %}
        <tr class="site{{ sortie.site ? sortie.site.id : "none" }}">
            <td>{{ sortie.nom }}</td>
            <td>{{ sortie.dateDebut|date("m/d/Y h:i") }}</td>
            <td>{{ sortie.dateCloture|date("m/d/Y") }}</td>
            <td>{{ sortie.participants|length }}/{{ sortie.nbInscriptionsMax }}</td>
            <td>#{{ sortie.etat ? sortie.etat.libelle : "pas d'etat" }}</td>
            <td>
                {% for inscrit in sortie.participants %}
                    {% if inscrit.id == app.user.id %}{% set isInscrit = 1 %}X{%  endif %}
                {% else %}
                {% endfor %}
            </td>
            <td>#{{ sortie.organisateur ? sortie.organisateur.username : "pas d'organisateur :(" }}</td>
            <td>{#
                <a href="{{ path('event_detailEvent', {"sortie": sortie.id}) }}">afficher</a>
                {% if app.user.id == sortie.organisateur.id %}
                    <a href="{{ path('event_updateEvent', {"sortie": sortie.id}) }}">Modifier</a>
                    {% if sortie.etat.libelle == "Ouverte" %}
                        <a href="{{ path('event_deleteEvent', {"sortie": sortie.id}) }}">Annuler</a>
                    {% endif %}
                {% else %}
                    {% if isInscrit and sortie.dateCloture < "now" %}
                        <a href="#">Se désinscrire</a>
                    {% else if sortie.dateCloture < "now" %}
                <a href="#">S'inscrire</a>
                {% endif %}
                {% endif %} #}
            </td>
        </tr>
    {% endfor %}
        </tbody>
        </table>
{% endblock %}