{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block pagetitle %}Accueil{% endblock %}

{% block body %}
    <div>
        <h3><a href="{{ path('event_createEvent') }}">Organiser une nouvelle sortie</a></h3>
    </div>

    <div>
        <script>
           user = {
               id: {{ app.user.id }},
               username: '{{ app.user.username }}',
               site: {{ app.user.site.id }}
           };
        </script>
        <div>
            <h2>Recherche de sorties</h2>
            <div>
                {{ form_start(form) }}
                <p>{{ form_row(form.sites, {"label": "Site concerné", 'id': "choixSite", 'attr': {'onchange': "selectionSite();"}}) }}</p>
                <p>{{ form_row(form.organisateur, {"label": "Dont je suis l'organisateur", 'id': "isOrganisateur", 'attr': {'onchange': "selectionSite();"}}) }}</p>
                <p>{{ form_row(form.isInscrit, {"label": "auxquels je suis inscrit", 'id': "isIncrit", 'attr': {'onchange': "selectionSite();"}}) }}</p>
                <p>{{ form_row(form.isNotInscrit, {"label": "auxquels je ne suis pas inscrit", 'id': "isNotInscrit", 'attr': {'onchange': "selectionSite();"}}) }}</p>
                <p>{{ form_row(form.archive, {"label": "tous les autres", 'id': "isArchive", 'attr': {'onchange': "selectionSite();"}}) }}</p>
                {{ form_end(form) }}
            </div>
        </div>
    </div>




    <input id="myInput" type="text" placeholder="Rechercher dans le tableau">
    </select>
    <table class="table table-hover">

    <tr>
        <th scope="col">Nom</th>
        <th scope="col">Date de la sortie</th>
        <th scope="col">Date de Cloture</th>
        <th scope="col">Inscrits/Places</th>
        <th scope="col">Etat</th>
        <th scope="col">Inscrit</th>
        <th scope="col">Organisateur</th>
        <th scope="col">Actions</th>
    </tr>
        <tbody id="myTable">
        </tbody>
        </table>
    <script src="{{ asset('js/ajax.js') }}"></script>
{% endblock %}