{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Accueil{% endblock %}
{% block pagetitle %}Accueil{% endblock %}

{% block body %}

    <!-- Date du jour -->
    <div id="dateAndName">
        <p>Date du jour :{{ "now"|date("d/m/Y") }}</p>
        <p>Participant : {{ app.user.prenom }} {{ app.user.nom }}</p>
    </div>

    <!-- Filtres de recherches -->
    <div id="filtersSorties">
        <script>
            user = {
                id: {{ app.user.id }},
                username: '{{ app.user.username }}',
                site: {{ app.user.site.id }}
            };
        </script>
        <div>
            <h2 id="titleFilter">Filtrer les sorties</h2>
            <!-- Checkbox -->
            <div>
                {{ form_start(form) }}
                <p>{{ form_row(form.sites, {"label": "Site", 'id': "choixSite", 'attr': {'class': 'col-md-3','onchange': "selectionSite();"}}) }}</p>
                <p>{{ form_row(form.organisateur, {"label": "Sorties dont je suis l'organisateur/trice", 'id': "isOrganisateur", 'attr': {'onchange': "selectionSite();"}}) }}</p>
                <p>{{ form_row(form.isInscrit, {"label": "Sorties auxquelles je suis inscrit/e", 'id': "isInscrit", 'attr': {'onchange': "selectionSite();"}}) }}</p>
                <p>{{ form_row(form.isNotInscrit, {"label": "Sorties auxquelles je ne suis pas inscrit/e", 'id': "isNotInscrit", 'attr': {'onchange': "selectionSite();"}}) }}</p>
                <p>{{ form_row(form.archive, {"label": "Sorties passées", 'id': "isArchive", 'attr': {'onchange': "selectionSite();"}}) }}</p>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <!-- Barre de recherches -->
    <form class="search-form col-md-4">
        <input class="form-control form-control-sm mr-3" type="text" placeholder="Rechercher une sortie" aria-label="Search" id="myInput">
        <i class="fas fa-search" aria-hidden="true"></i>
    </form>

    <div class="table-responsive">
        <table class="table table-hover">
            <!-- En-tête du tableau des sorties -->
            <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Date de la sortie</th>
                <th scope="col" id="dateClotureInscription">Date de clôture</th>
                <th scope="col" id="inscriptions">Inscrits/Places</th>
                <th scope="col">Etat</th>
                <th scope="col" id="getInscription">Inscrit</th>
                <th scope="col" id="organisateur">Organisateur</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>

            <!-- Corps du tableau -->
            <tbody id="myTable">
            </tbody>
        </table>
        <!-- Image de chargement des données -->
        <div id="loader" style="display: none" align="center"><img src="{{ asset('Images/loader.gif') }}"></div>
    </div>

    <!-- Bouton créer une nouvelle sortie -->
    <div>
        <a href="{{ path('event_createEvent') }}" class="btn btn-primary" id="btnCreateNewSortie">Créer une sortie</a>
    </div>

    <script src="{{ asset('js/listjs.js') }}"></script>
{% endblock %}