{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}
{% block pagetitle %}Modification d'une sortie{% endblock %}

{% block body %}

    {# Messages Flash #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {# Theme du formulaire #}
    {% form_theme formUpdateEvent 'bootstrap_4_layout.html.twig' %}

    <div class="container">
        <br>
        {# VOLET 1#}
        <div class="#">
            {{ form_start(formUpdateEvent) }}

            {# Champs principaux #}
            {{ form_row(formUpdateEvent.nom) }}
            {{ form_row(formUpdateEvent.dateDebut) }}
            {{ form_row(formUpdateEvent.dateCloture) }}
            {{ form_row(formUpdateEvent.nbInscriptionsMax) }}
            {{ form_row(formUpdateEvent.duree) }}
            {{ form_row(formUpdateEvent.description) }}
        </div>

        {# VOLET 2#}
        <div class="#">

            {# Select de la ville #}
            <div class="form-group">
                <label>Ville :
                    <select class="form-control" name="ville">
                        {% for ville in villes %}
                            <option value="{{ ville.nom }}">{{ ville.nom }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>

            <div class="form-group">
                <div class="addSpot">
                    {{ form_row(formUpdateEvent.lieu) }}
                </div>
                {#<div class="addSpot">#}
                {#<button onclick="document.getElementById('mod01').style.display='block'"#}
                {#class="btn btn-success btn-circle">+</button>#}
                {#</div>#}
            </div>

            {#Select de la rue #}
            <div class="form-group">
                <label>Rue :
                    <select class="form-control" name="rue">
                        {% for lieu in lieux %}
                            <option value="{{ lieu.rue }}">{{ lieu.rue }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>

            {# Code postal #}
            <div class="form-group">
                <p>Code postal : </p>
            </div>

            <div id="macarte" style="width:545px; height:490px"></div>
        </div>

        {# Boutons Enregistrer + Publier + Annuler #}
        <span>
            <div class="row">
                    <div class="col-md-4" id="buttons">
                        {{ form_row(formUpdateEvent.Enregistrer) }}
                    </div>
                    <div class="col-md-4" id="buttons">
                        {{ form_row(formUpdateEvent.Publier) }}
                    </div>
                    <div class="col-md-4" id="buttons">
                        {{ form_row(formUpdateEvent.Annuler) }}
                    </div>
            </div>
        </span>
        {{ form_end(formUpdateEvent) }}
    </div>

{% endblock %}