{% extends 'base.html.twig' %}

{% block title %}Confirmer suppression{% endblock %}

{% block pagetitle %}Supprimer un stagiaire{% endblock %}

{% block body %}

    <div class="row" id="formDeleteUser">
        <div class="col-12">
            <p>Etes-vous sûr de vouloir supprimer : <strong>{{ participant.prenom }} {{ participant.nom }}</strong> ?</p>
            {% form_theme form 'bootstrap_4_layout.html.twig' %}
            {{ form_start(form) }}
            {{ form_widget(form.supprimer) }} <a href="{{ path('admin_listUser') }}" class="btn btn-info">Annuler</a>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}