{% extends 'base.html.twig' %}

{% block title %}Gestion Du Site{% endblock %}
{% block pagetitle %}Gestion du site{% endblock %}

{% block body %}
    <p><a href="{{ path('createUser') }}">ajouter un utilisateur</a></p>
    {%  for participant in listeParticipants %}
    <div>
        <p>{{ participant.username }}</p>
    </div>
    <a href="{{  path('detailUser', {"id": participant.id}) }}">detail</a>
    <a href="{{  path('updateUser', {"id": participant.id}) }}">modifier</a>
    <a href="{{ path('deleteUser', {"id": participant.id}) }}">Supprimer</a>
    {%  else %}
        <p>aucun participants... :(</p>
    {% endfor %}

{% endblock %}


