{% extends 'base.html.twig' %}

{% block title %}Gestion des stagiaires{% endblock %}
{% block pagetitle %}Gestion des stagiaires{% endblock %}

{% block body %}
    <p><a href="{{ path('admin_createUser') }}">Ajouter un stagiaire</a></p>
    {%  for participant in listeParticipants %}
    <div>
        <p>{{ participant.username }}</p>
    </div>
    <a href="{{  path('admin_detailUser', {"participant": participant.id}) }}">detail</a>
    <a href="{{  path('admin_updateUser', {"participant": participant.id}) }}">modifier</a>
    <a href="{{ path('admin_deleteUser', {"participant": participant.id}) }}">Supprimer</a>
    {%  else %}
        <p>Aucuns stagiaires... :(</p>
    {% endfor %}

{% endblock %}


