{% extends 'base.html.twig' %}

{% block title %}Gestion des villes{% endblock %}

{% block pagetitle %}Gérer les villes{% endblock %}

{% block body %}

    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Ville</th>
                <th scope="col">Code Postal</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            {% form_theme formCity 'bootstrap_4_layout.html.twig' %}
            <tbody>
            {% for ville in villes %}
                <tr>
                    <td scope="row">{{ ville.nom }}</td>
                    <td>{{ ville.codepostal }}</td>
                    <td><a href="{{ url('manageCity_updateCity', {'city' : ville.id}) }}">Modifier</a> - <a href="{{ url('manageCity_deleteCity', {'city' : ville.id}) }}">Supprimer</a></td>
                </tr>
            {% endfor %}
            {{ form_start(formCity) }}
            <tr>
                <td>{{ form_widget(formCity.nom) }}</td>
                <td>{{ form_widget(formCity.codePostal) }}</td>
                <td>{{ form_widget(formCity.ajouter) }}</td>
            </tr>
            {{ form_end(formCity) }}
            </tbody>
        </table>
    </div>
{% endblock %}