{% extends 'base.html.twig' %}

{% block title %}Gestion des villes{% endblock %}

{% block pagetitle %}Gérer les villes{% endblock %}

{% block body %}

    <h3>Filtrer les villes</h3>
    <form class="search-form col-md-4">
        <input class="form-control form-control-sm mr-3" type="text" placeholder="Search" aria-label="Search" id="myInput">
        <i class="fas fa-search" aria-hidden="true"></i>
    </form>

    <div class="table-wrapper-scroll-y my-custom-scrollbar">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Ville</th>
                <th scope="col">Code Postal</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            {% form_theme formCity 'bootstrap_4_layout.html.twig' %}
            <tbody id="myTable">
            {% for ville in villes %}
                <tr>
                    <td scope="row">{{ ville.nom }}</td>
                    <td>{{ ville.codepostal }}</td>
                    <td><a href="{{ url('manageCity_updateCity', {'city' : ville.id}) }}">Modifier</a> - <a href="{{ url('manageCity_deleteCity', {'city' : ville.id}) }}">Supprimer</a></td>
                </tr>
            {% endfor %}
            </tbody>
            {{ form_start(formCity) }}
            <tr>
                <td>{{ form_widget(formCity.nom) }}</td>
                <td>{{ form_widget(formCity.codePostal) }}</td>
                <td>{{ form_widget(formCity.ajouter) }}</td>
            </tr>
            {{ form_end(formCity) }}
        </table>
    </div>
{% endblock %}